.navigation {
    position: absolute;
    z-index: 2;
    top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    /* height: 110px; */
}
.navigation > * {
    margin-right: 80px; /* Ajusta el espacio horizontal entre los elementos */
    margin-left: 80px;
}
.home_btn_box {
    display: flex;
    display: flex;
    align-items: center;
}
.home_btn_img {
    margin-right: 10px;
}

/* ********************************************************************************** */
/* ********************* Botón de HOME ****************************** */
/* ********************************************************************************** */
.home_btn {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    cursor: pointer;

    border: none; 
    background: none; 
}
.home_btn:hover p {
    color:#FE654F;
}
.home_btn p {
    font-family: 'Roboto', sans-serif;
    padding-right: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1.1rem;
    color: #1E3231;

}
.home_btn_img {
    width: 30px;
}
/* ********************************************************************************** */
/* *********************ENLACES ACTIVITY Y EXIT ****************************** */
/* ********************************************************************************** */
.create_btn {
    font-family: 'Roboto', sans-serif;
    padding-right: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1.1rem;
    color: #1E3231;
}
.create_btn:hover {
    color: #FE654F
}
/* ********************************************************************************** */
/* ********************* Media Queries ****************************** */
/* ********************************************************************************** */
@media (max-width: 1100px) {
    .create_btn {
        display: none;
    }
}
@media (max-width:450px) {
    .navigation {
        display: block;
        /* justify-content: normal; */
        
    }
    .home_btn {
        margin-left: 0;
        margin-right: 0;
        border-bottom: 1px solid #0d0c22;
        height: 93px;
    }
    .home_btn p {
        margin-left: 15px;
    }
    .home_btn_img {
        width: 40px;
    }
    .home_btn_box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .home_btn_img {
        margin-right: 0px;
    }
  }